@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 40px 32px;
  margin: 0 auto;
}

.rounded-btn {
  background-color: #2acfcf;
  color: #fff;
  border-radius: 100px;
}

.header {
  display: flex;
  align-items: center;
}

.links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a,
.registration a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
}

.link {
  color: #bfbfbf;
}

.nav-links {
  margin: 0 0 0 70px;
  display: flex;
}

.nav-links a {
  margin: 0 50px 0 0;
}

.registration a {
  margin: 0 0 0 15px;
  padding: 10px 25px;
}

.login {}



.intro-section {}

.intro-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.intro-text {
  width: 40%;

}

.intro-img {
  width: 55%;
}

.intro-text h1 {
  font-size: 60px;
  line-height: 70px;
  color: #35323e;
}

.intro-text p {
  color: #bfbfbf;
  font-size: 18px;
  margin-bottom: 40px;
}

.get-started {
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
}

.illustration-img {
  width: 100%;
}

.shortening-section {
  padding: 0 32px;
}

.shorten-it-div {
  background-image: url("../images/bg-shorten-desktop.svg");
  background-color: #37304c;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  padding: 35px 50px;
  position: relative;
  top: 65px;
  max-width: 1146px;
  margin: 0 auto;

}

.shorten-input-div {
  display: flex;
  justify-content: space-between;
}

.error {
  position: absolute;
  padding: 5px;
  color: #eb5858;
  font-style: italic;
  display: none;
}

.shortening-input {
  padding: 15px;
  width: 85%;
  margin: 0 20px 0 0;
  font-size: 25px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.shorten-btn {
  font-size: 18px;
  font-weight: 700;
  width: 130px;
  color: #fff;
  background-color: #2acfcf;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  float: right;
  height: 62px;
}

.shorten-list {
  max-width: 1200px;
  padding: 80px 32px 0 32px;
  margin: 0 auto;
}

.list-item {
  list-style: none;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-div {
  display: flex;
  align-items: center;
}

.shorten-link {
  color: #30d0d0;
}

.copy-btn {
  margin-left: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: #30d0d0;
  font-weight: 700;
}

.details-section {
  background-color: #e9e9e9;
  padding-bottom: 50px;
}

.advanced-stats {
  padding-top: 120px;
  min-height: 800px;
}

.details-title,
.details-subtitle {
  text-align: center;
}

.details-title {
  font-size: 42px;
  margin-bottom: 15px;
}

.details-subtitle {
  font-size: 18px;
  color: #8d8d8d;
  margin-bottom: 5px;
}

.features {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.features p {
  margin-top: 10px;
  color: #8d8d8d;
}

.features-box {
  width: 31%;
  background-color: #fff;
  border-radius: 5px;
  padding: 70px 25px 30px 25px;
}

.separate-bars {
  background-color: #2acfcf;
  position: relative;
  top: 160px;
  height: 8px;
  padding: 0 20px;
}

.features-icon {
  position: absolute;
  transform: translateY(-115px);
  width: 90px;
  background-color: #37304c;
  padding: 20px;
  border-radius: 100%;
}

.records-box {
  transform: translateY(50px);
}

.customize-box {
  transform: translateY(100px);
}

.boost-section {
  background-image: url("../images/bg-boost-desktop.svg");
  background-color: #37304c;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 250px;
}

.boost-div {
  margin: 0 auto;
  transform: translateY(50%);
  max-width: 1200px;
  padding: 0 32px;
  text-align: center;
}

.boost-title {
  font-weight: 700;
  font-size: 42px;
  color: #fff;
  margin-bottom: 30px;
}

.boost-btn {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 35px;
}

footer {
  background-color: #35323e;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.logo-div,
.social-media-div {
  width: 28%;
}

.footer-links-container {
  width: 41%;
  display: flex;
  justify-content: space-evenly;
}

.footer-logo {
  font-weight: 700;
  cursor: pointer;
  font-size: 30px;
}

.links-div h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.links-div li {
  list-style-type: none;
  font-size: 14px;
  color: #bbb8b8;
  cursor: pointer;
  margin-bottom: 10px;
}

.social-media-div {
  text-align: center;
}

.social-media-div img {
  margin: 0 10px;
}